name: Bump Meshplay, Meshplay Extensions and Meshplay Cloud

on:
  workflow_run:
    workflows: [Publish Node.js Package]
    types:
      - completed

jobs:
  versions-check:
    runs-on: ubuntu-latest
    outputs:
      current: ${{ steps.current.outputs.VERSION }}
    steps:
      - name: Download Version
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: version-number
          github-token: ${{ secrets.GH_ACCESS_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Retrieve Version
        run: |
          echo "VERSION=$(cat ./number)" >> $GITHUB_OUTPUT
        id: current
  bump-meshplay:
    runs-on: ubuntu-latest
    needs: versions-check
    steps:
      - name: Checkout Meshplay code
        uses: actions/checkout@v4
        with:
          repository: meshplay/meshplay
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @khulnasoft/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{ needs.versions-check.outputs.current }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [khulnasoft](http://github.com/khulnasoft)_
          assignees: khulnasoft
          draft: false
  bump-meshplay-extensions:
    runs-on: ubuntu-latest
    needs: versions-check
    steps:
      - name: Checkout Meshplay Extensions code
        uses: actions/checkout@v4
        with:
          repository: khulnasoftlabs/meshplay-extensions
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: meshmap
        run: npm install @khulnasoft/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{needs.versions-check.outputs.current }}'
          add-paths: |
            meshmap/package.json
            meshmap/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [khulnasoft](http://github.com/khulnasoft)_
          assignees: khulnasoft
          draft: false
  bump-meshplay-cloud:
    runs-on: ubuntu-latest
    needs: versions-check
    steps:
      - name: Checkout Meshplay Extensions code
        uses: actions/checkout@v4
        with:
          repository: khulnasoftio/meshplay-cloud
          fetch-depth: 1
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "npm"
          cache-dependency-path: '**/package-lock.json'
      - name: Make changes to pull request
        working-directory: ui
        run: npm install @khulnasoft/sistent@${{needs.versions-check.outputs.current}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.RELEASEDRAFTER_PAT }}
          commit-message: Bump sistent v${{ needs.versions-check.outputs.current }} dependencies
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: bump-sistent-bot
          delete-branch: true
          title: '[Chore]: Bump Sistent v${{ needs.versions-check.outputs.current }}'
          add-paths: |
            ui/package.json
            ui/package-lock.json
          body: |
            Update to Sistent v${{ needs.versions-check.outputs.current }}
            
            _This pull request has been auto-generated by [khulnasoft](http://github.com/khulnasoft)_
          assignees: khulnasoft
          draft: false
